*{
    margin: 0
}
#first {
    width: 100%;
    height: 80%;
    background-color: white;
}
#second {
    width: 100%;
    height: 20%;
    background-color: aqua;
    text-align: center
   
   
    
    
}
#second-1{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center
   
}
#second-2{
    width: 100%;
    height: 80%;
}
.neirong{
    width: 65%;
    height: 100%;
    background-color: white;
    
    
}
.nicheng {
    width: 50%;
    height: 100%;
    float: left;
   
    
   
}
.name {
    float: left;
}
.fasong {
    width: 50;
    height: 40;
    background-color: blue;
    border: 0 transparent；
}
#first-1 {
    width: 100%;
    height: 15%;
    background-color:white;}
#first-2 {
    width: 100%;
    height: 15%;
    background-color:white;}
#first-3 {
    width: 100%;
    height: 15%;
    background-color:white;}    
#first-4 {
    width: 100%;
    height: 15%;
    background-color:white;}   
#first-5 {
    width: 100%;
    height: 15%;
    background-color:white;} 
.dianzan1 {
     width: 80;
     height: 40;
     background-color: rgb(49, 126, 243);
     border: 0 transparent;
     position: relative;
     left: 90%;
     top: -40 ;
     display: none;
}
.dianzan2 {
    width: 80;
    height: 40;
    background-color: rgb(49, 126, 243);
    border: 0 transparent;
    position: relative;;
    left: 90%;
    top: -40 ;
    display: none;
}

.dianzan3 {
    width: 80;
    height: 40;
    background-color: rgb(49, 126, 243);
    border: 0 transparent;
    position: relative;;
    left: 90%;
    top: -40 ;
    display: none;
}

.dianzan4{
    width: 80;
    height: 40;
    background-color: rgb(49, 126, 243);
     border: 0 transparent;
    position: relative;;
    left: 90%;
    top: -40 ;
    display: none;
}

.dianzan5{
    width: 80;
    height: 40;
    background-color: rgb(49, 126, 243);
    border: 0 transparent;
    position: relative;;
    left: 90%;
    top: -40 ;
    display: none;
}

